<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">AA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"><a class="nav-link" href="/">Inicio</a></li>
      <li class="nav-item"><a class="nav-link" href="/descubre">Descubre</a></li>
      <li class="nav-item"><a class="nav-link" href="/contacto">Contacto</a></li>
      <li class="nav-item"><a class="nav-link" href="/iniciar">Iniciar Sesi칩n</a></li>
    </ul>
  </div>
</nav>

<br><br>

<section class="container jumbotron">
  <h1 class="display-4 text-center">Iniciar Sesi칩n</h1>

  <form>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Escriba email">
    </div>
    <div class="form-group">
      <label for="contrasena">Contrase침a:</label>
      <input type="password" class="form-control" id="contrasena" placeholder="Escriba contrase침a">
    </div>
    <hr class="my-4">
    <button type="submit" class="btn btn-primary">Ingresar</button>
  </form>
</section>
