<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">AA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"><a class="nav-link" href="/">Inicio</a></li>
      <li class="nav-item"><a class="nav-link" href="/descubre">Descubre</a></li>
      <li class="nav-item"><a class="nav-link" href="/contacto">Contacto</a></li>
      <li class="nav-item"><a class="nav-link" href="/iniciar">Iniciar Sesión</a></li>
    </ul>
  </div>
</nav>

<br><br>

<section class="container jumbotron">
  <form>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Nombre">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Autor">
      </div>
    </div>
    <hr class="my-4">
    <div class="row">
      <div class="col">
        <select class="form-control" name="type">
            <option value="0">Tipo de sección:</option>
            <option value="li">Línea innovadora de investigación aplicada al desarrollo tecnológico</option>
            <option value="pa">Producción académica</option>
            <option value="piapt">Proyectos de investigación aplicada y proyectos tecnológicos</option>
            <option value="di">Dirección Individualizada</option>
            <option value="ee">Estadía en empresas</option>
          </select>
      </div>
      <div class="col">
          <select class="form-control" name="orderBy">
            <option value="0">Ordenar por:</option>
            <option value="nombre">Nombre</option>
            <option value="fecha">Fecha</option>
            <option value="autor">Autor</option>
          </select>
        </div>
    </div>
    <hr class="my-4">
    <div class="row">
      <div class="col">
        <button type="submit" class="btn btn-primary">Buscar</button>
      </div>
    </div>
  </form>
</section>

<br><br>

<section class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Reporte</th>
        <th scope="col">Autor</th>
        <th scope="col">Seccion</th>
        <th scope="col">Fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><a href="#">Nombre</a></th>
        <td>Autor</td>
        <td>Seccion</td>
        <td>Fecha</td>
      </tr>
      <tr>
        <th scope="row"><a href="#">Nombre</a></th>
        <td>Autor</td>
        <td>Seccion</td>
        <td>Fecha</td>
      </tr>
      <tr>
        <th scope="row"><a href="#">Nombre</a></th>
        <td>Autor</td>
        <td>Seccion</td>
        <td>Fecha</td>
      </tr>
      <tr>
        <th scope="row"><a href="#">Nombre</a></th>
        <td>Autor</td>
        <td>Seccion</td>
        <td>Fecha</td>
      </tr>
      <tr>
        <th scope="row"><a href="#">Nombre</a></th>
        <td>Autor</td>
        <td>Seccion</td>
        <td>Fecha</td>
      </tr>
      <tr>
        <th scope="row"><a href="#">Nombre</a></th>
        <td>Autor</td>
        <td>Seccion</td>
        <td>Fecha</td>
      </tr>
      <tr>
        <th scope="row"><a href="#">Nombre</a></th>
        <td>Autor</td>
        <td>Seccion</td>
        <td>Fecha</td>
      </tr>
      <tr>
        <th scope="row"><a href="#">Nombre</a></th>
        <td>Autor</td>
        <td>Seccion</td>
        <td>Fecha</td>
      </tr>
      <tr>
        <th scope="row"><a href="#">Nombre</a></th>
        <td>Autor</td>
        <td>Seccion</td>
        <td>Fecha</td>
      </tr>
      <tr>
        <th scope="row"><a href="#">Nombre</a></th>
        <td>Autor</td>
        <td>Seccion</td>
        <td>Fecha</td>
      </tr>
      <tr>
        <th scope="row"><a href="#">Nombre</a></th>
        <td>Autor</td>
        <td>Seccion</td>
        <td>Fecha</td>
      </tr>
      <tr>
        <th scope="row"><a href="#">Nombre</a></th>
        <td>Autor</td>
        <td>Seccion</td>
        <td>Fecha</td>
      </tr>
      <tr>
        <th scope="row"><a href="#">Nombre</a></th>
        <td>Autor</td>
        <td>Seccion</td>
        <td>Fecha</td>
      </tr>
      <tr>
        <th scope="row"><a href="#">Nombre</a></th>
        <td>Autor</td>
        <td>Seccion</td>
        <td>Fecha</td>
      </tr>
      <tr>
        <th scope="row"><a href="#">Nombre</a></th>
        <td>Autor</td>
        <td>Seccion</td>
        <td>Fecha</td>
      </tr>
      <tr>
        <th scope="row"><a href="#">Nombre</a></th>
        <td>Autor</td>
        <td>Seccion</td>
        <td>Fecha</td>
      </tr>
    </tbody>
  </table>
</section>
